.App {
  text-align: center;
}

ul {
  list-style: none
}

.deleteTodo {
  cursor: pointer;
  color: red;
  background: transparent;
  border: none
}

input:checked + span {
  text-decoration: line-through;
}